**/*.crt
**/*.cert
**/*.der
**/*.pem
**/*.key
**/*.DS_Store
node_modules
*.token
*.time
.idea/
.local/
.Trash-1000/
/docker/demo/.mozilla/firefox/*
!.gitkeep
*.token
*.tok
.env
**/cert9.db
**/key4.db
.mozilla/
