//
// Created by developer on 11/10/19.
//

#ifndef SHIPFAST_API_KEY
#define SHIPFAST_API_KEY "QXBwcm9vdidzIHRvdGFsbHkgYXdlc29tZSEh"
#endif //SHIPFAST_API_KEY

#ifndef SHIPFAST_API_BASE_URL
#define SHIPFAST_API_BASE_URL "https://approov-protected.shipfast-api.pdm.approov.io"

#endif //SHIPFAST_API_BASE_URL

// 51.535472, -0.104971   -> London
// 37.441883, -122.143019 -> Palo Alto, California
// 55.944879, -3.181546   -> Edinburgh
#ifndef DRIVER_LATITUDE
#define DRIVER_LATITUDE "51.5350"
#endif //DRIVER_LATITUDE

#ifndef DRIVER_LONGITUDE
#define DRIVER_LONGITUDE "-0.104975"
#endif //DRIVER_LONGITUDE

#ifndef AUTH0_CLIENT_ID
#define AUTH0_CLIENT_ID "get-it-auth0-dashboard"
#endif //AUTH0_CLIENT_ID
