body {
    background-image":"url('images/skull.png')"
}

.jumbotron {
    background-image: url("./../images/fire.jpg");
    background-size: cover;
    color: yellow;
}

#search-shipments-button {
    background-color: red;
    color: white;
}
