<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.criticalblue.shipfast">

    <!-- Specify required fine location permission for Google Maps -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.criticalblue.shipfast.ShipFastApp">

        <uses-library android:name="com.google.android.maps" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${ANDROID_GEO_API_KEY}" />

        <meta-data
            android:name="com.criticalblue.shipfast.auth0Domain"
            android:value="${auth0Domain}" />

        <meta-data
            android:name="com.criticalblue.shipfast.auth0Scheme"
            android:value="${auth0Scheme}" />

        <activity
          android:name="com.criticalblue.shipfast.LoginActivity"
          android:label="@string/app_launcher_icon_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.criticalblue.shipfast.ShipmentActivity"
            android:parentActivityName="com.criticalblue.shipfast.LoginActivity" />
        <activity
            android:name="com.criticalblue.shipfast.SummaryActivity"
            android:parentActivityName="com.criticalblue.shipfast.ShipmentActivity" />
    </application>

</manifest>
